@font-face
    font-family: 'Exo2-Bold'
    src: url(../fonts/Exo2-Bold.woff)

@font-face
    font-family: 'Exo2-Regular'
    src: url(../fonts/Exo2-Regular.woff)

@font-face
  font-family: 'Exo2-SemiBold'
  src: url(../fonts/Exo2-SemiBold.woff)

@font-face
  font-family: 'Exo2-Bold'
  src: url(../fonts/Exo2-Bold.woff)

@font-face
    font-family: 'WinDisplay-NormalBold'
    src: url(../fonts/WinDisplay-NormalBold.woff)

@font-face
  font-family: 'WinDisplay-NormalMedium'
  src: url(../fonts/WinDisplay-NormalMedium.woff)

@font-face
  font-family: 'WinText-Bold'
  src: url(../fonts/WinText-Bold.woff)

