$white: #FBFCFD
$gray: #D3D9EA
$grayTitle: #BFBFBF
$green-blue: #00CDCF
$green-blue-hover-maket: #09D6D8
$green-blue-hover: #00b4b7
$blue: #3396D3
$green-border: #163C52
$green: #112D3F
$green-line: #13354A
$black: #090A18

$font-exo2-semiBold: 'Exo2-SemiBold', sans-serif // 600
$font-exo2-bold: 'Exo2-Bold', sans-serif // 700
$font-exo2-regular: 'Exo2-Regular', sans-serif // 400
$font-display-bold: 'WinDisplay-NormalBold', sans-serif // 700
$font-display-medium: 'WinDisplay-NormalMedium', sans-serif // 500
$font-text-bold: 'WinText-Bold', sans-serif // 700

.hide
  display: none !important

body
  overscroll-behavior: none
  -webkit-tap-highlight-color: transparent
  background: $black
  img
    max-width: 100%
    height: auto
  & > *
    font-family: inherit

.allWin-page
  overflow: hidden
  -webkit-tap-highlight-color: transparent

//test
.menu-btn
  position: fixed
  top: 0
  left: 0
  z-index: 20
  width: fit-content
  background: white
  padding: 3px

.menu-test
  position: fixed
  left: 0
  top: 25px
  z-index: 20
  display: flex
  gap: 2px
  flex-direction: column
  & > button
    width: fit-content
    background: white
    color: black
    padding: 2px
    font-family: inherit
    border-radius: 2px

.allWin-page
  .btn
    font-family: $font-exo2-semiBold
    font-size: 18px
    line-height: 18px
    background-color: $green-blue
    color: $black
    min-width: 190px
    height: 50px
    border-radius: 6px
    max-width: fit-content
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: center
    transition: background .7s ease-in-out
    animation: pulseScale 3s ease-in-out infinite
    &:hover
      cursor: pointer
      background-color: $green-blue-hover
  .container
    max-width: 768px
    margin: auto
    position: relative
  .banner
    display: block
    position: relative
    .container
      max-width: 1366px
      position: relative
      height: fit-content
    &__wrapp
      z-index: 2
      position: absolute
      left: 64px
      top: 0
      width: 95%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      gap: 40px
    &__title
      gap: 18px
      display: flex
      flex-direction: column
      &-top
        font-family: $font-display-medium
        font-size: 40px
        line-height: 100%
        text-transform: uppercase
        color: $white
      &-bottom
        border-radius: 6px
        height: 54px
        padding: 18px 16px 13px
        width: fit-content
        display: flex
        justify-content: center
        align-items: center
        background-color: $blue
        font-family: $font-text-bold
        font-size: 32px
        line-height: 32px
        text-transform: uppercase
        color: $white
        position: relative
        span
          font-family: $font-exo2-bold
          font-size: 17px
          position: absolute
          top: 5px
          right: 8px
    &__info
      color: $grayTitle
      font-family: $font-exo2-regular
      position: absolute
      right: 50px
      top: 50%
      //transform: translateY(-50%) rotate(-90deg)
      transform-origin: top right
      //font-size: 0.55vw
      font-size: 8px
      line-height: 11px
      transform: rotate(-90deg) translateX(50%)
      width: 306px
      //writing-mode: sideways-lr
      //text-orientation: mixed
      //width: 100%
      height: 41px
  .about
    margin-top: 32px
    text-align: center
    .container
      display: flex
      flex-direction: column
      align-items: center
      gap: 32px
    &__title
      font-family: $font-exo2-bold
      font-size: 24px
      line-height: 28px
      color: $white
    &__list
      text-align: center
      &-item
        margin-bottom: 15px
        font-family: $font-exo2-regular
        color: $white
        font-size: 18px
        line-height: 18px
        position: relative
        &:last-child
          margin-bottom: 0
    &__txt
      font-family: $font-exo2-regular
      font-size: 18px
      line-height: 20px
      color: $white
      text-align: center

  .table
    margin-top: 50px
    .container
      display: flex
      flex-direction: column
      align-items: center
    &__wrap
      margin: auto
      max-width: 768px
      width: 100%
      display: flex
      flex-direction: column
      align-items: center
    &__title
      font-family: $font-display-bold
      font-size: 40px
      color: $white
      text-transform: uppercase
      margin-bottom: 32px
    &__head
      color: $grayTitle
      background: $green-line
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      border-bottom: 1px solid $green-border
      &-col
        display: flex
        justify-content: center
        align-items: center
        color: $grayTitle
        text-align: center
        font-size: 12px
        font-family: $font-exo2-regular
        width: 100px
        height: 35px
    &__row
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $green
      border-bottom: 1px solid $green-border
    &__body
      width: 100%
      background-color: $green
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      &-col
        color: $gray
        font-size: 14px
        font-family: $font-exo2-bold
        width: 100px
        justify-content: center
        display: flex
        align-items: center
        height: 51px

  .conditionsDrop
    margin-top: 40px
    padding: 0 0 50px
    &__drop
      max-width: 767px
      margin: auto
      .dropdown
        outline: none!important
        cursor: pointer
        &[open]
          summary
            &:before
              transform: rotate(180deg)
        summary::marker,
        summary::-webkit-details-marker
          display: none
        > summary
          list-style: none
        summary
          display: flex
          justify-content: space-between
          align-items: center
          font-family: $font-exo2-bold
          font-size: 18px
          padding-bottom: 12px
          color: $gray
          outline: none!important
          position: relative
          border-bottom: 1px solid $green-line
          ::marker
            display: none
          &::before
            content: ""
            display: block
            min-width: 12px
            height: 12px
            background: url("https://allwin-prom.pp.ua/html/top-express-allwin/img/arrow-drop.png") no-repeat 0 0/contain
            order: 2
        .drop-txt
          font-size: 16px
          line-height: 18px
          color: $gray
          padding: 30px 0
          font-family: $font-exo2-regular
          li, p
            font-family: inherit
            margin-bottom: 16px
            &:last-child
              margin-bottom: 0

@keyframes pulseScale
  0%
    transform: scale(1)
  50%
    transform: scale(1.1)
  100%
    transform: scale(1)

//content styles
.drop
  .magenta
    font-family: inherit
    color: $white
.retreat1
  padding-left: 20px
  strong
    font-family: $font-exo2-bold
    color: $white
  p
    //&:not(:last-child)
    padding-bottom: 15px

.retreat2
  padding-left: 40px
  strong
    font-family: $font-exo2-bold
    color: $white
  p
    //&:not(:last-child)
    padding-bottom: 15px


.circle
  padding-left: 20px
  &:before
    content: ''
    width: 5px
    height: 5px
    background: $white
    border-radius: 50%
    display: inline-block
    margin: 0 8px 3px 0

@media screen and (max-width: 600px)
  .circle
    padding-left: 15px
  .retreat1
    padding-left: 15px
  .retreat2
    padding-left: 30px
