.fav-page#crazy-promo
  .banner
    .banner__title
      .normal crazy
      .italic express
    img(src="img/banner.jpeg" alt="").desk
    img(src="img/banner-mob.jpeg" alt="").mob
  .about
    .container
      .about__title.
        #[span Daily bonus 30 EURo] for 3 best
        successful multiple bets for everyone
      ul.about__list
        li.about__list-item Place a multiple bet
        li.about__list-item Wait for it's calculation
        li.about__list-item Get 1 of 3 bonuses - 30 EUR to your account
        li.about__list-item The results of each day will be published on the promotion page
      .about__txt.
        The best multiple bet is the winning multiple with the
        highest total odds. Only multiple bets with a total bet
        amount of 100 UAH* and a winning bet result are included.
      .about__table
        .about__table-wrap
          .about__table-head
            .about__table-head-col The bonus amount per 1 player is
          .about__table-body
            .about__table-body-col
              .about__table-body-row
                .about__table-body-key eur
                .about__table-body-value 30
              .about__table-body-row
                .about__table-body-key usd
                .about__table-body-value 40
              .about__table-body-row
                .about__table-body-key uah
                .about__table-body-value 1000
              .about__table-body-row
                .about__table-body-key rub
                .about__table-body-value 2700
              .about__table-body-row
                .about__table-body-key mdl
                .about__table-body-value 600
              .about__table-body-row
                .about__table-body-key pln
                .about__table-body-value 150
        .about__table-wrap
          .about__table-head
            .about__table-head-col the minimum bet amount is
          .about__table-body
            .about__table-body-col
              .about__table-body-row
                .about__table-body-key eur
                .about__table-body-value 3
              .about__table-body-row
                .about__table-body-key usd
                .about__table-body-value 4
              .about__table-body-row
                .about__table-body-key uah
                .about__table-body-value 100
              .about__table-body-row
                .about__table-body-key rub
                .about__table-body-value 270
              .about__table-body-row
                .about__table-body-key mdl
                .about__table-body-value 60
              .about__table-body-row
                .about__table-body-key pln
                .about__table-body-value 15
      a(href="/sports/sport").about__btn Make bets
  .tableResults
    .container
      .tableResults__wrap
        .tableResults__title Results
        .tableResults__head
          .tableResults__head-col Date
          .tableResults__head-col Account number
          .tableResults__head-col Coupon odds
          .tableResults__head-col Bonus
        .tableResults__body
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
          .tableResults__row
            .tableResults__body-col 05.07.2021
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
            .tableResults__body-col 1572634
  .conditionsDrop
    .container
      .conditionsDrop__drop
        details.dropdown
          summary Terms and conditions:
          ul.drop-txt
            li.
              1. Ставка отримує статус «без ризику» тільки після
              того, як гравець пересуне повзунок в поле «Зробити
              ставку без ризику» в купоні (поставить «✓» в додатку
              для Android) і натисне кнопку «Зробити ставку».
            li.
              2. Якщо не пересунути повзунок в вікно вибору (не
              поставити «✓» в додатку для Android), то ставка буде
              розрахована відповідно до результату і загальними
              правилами компанії.
            li.
              3. Бонус "Ставка без ризику" дійсний протягом 10-ти
              днів з моменту нарахування даного бонусу. Строк дії
              бонусу "СБР" для діючих клієнтів вказаний в Приватному
              кабінеті.
            li.
              4. Максимально можлива сума "Ставки без ризику" 500
              UAH/20 EUR/20 USD/1200 RUB/70 PLN/300 MDL/15 GBP/25
              CAD або еквівалент 20 EUR в інших валютах.Сума бонусу
              "СБР" для діючих клієнтів вказана в Приватному кабінеті.
            li.
              5. В акції можуть брати участь ставки на спорт
              (Prematch і Live), а також ставки на віртуальний спорт
              в розділах "Віртуальний баскетбол", "Віртуальна
              футбольна ліга", "Віртуальний теніс" і "Віртуальний
              футбол".
            li.
              6. Дана пропозиція доступна для однієї людини, сім'ї,
              домашньої адреси, адреси електронної пошти, одного
              номера телефону, платіжного гаманця, загального
              комп'ютера, однієї IP-адреси.
            li.
              7. Компанія залишає за собою право відкликати наявність
              будь-якої пропозиції або всіх пропозицій до будь-якого
              клієнта чи групи клієнтів в будь-який час і на власний
              розсуд.
            li.
              8. За період проведення акції гравець може отримати
              одну ставку без ризику.
            li.
              9. У випадку підозр клієнта в нечесній грі і/або
              зловживанні при використанні бонусних коштів, компанія
              залишає за собою право застосувати до даної категорії
              клієнтів індивідуальні умови відіграшу отриманого
              бонусу.
            li.
              10. Всі пропозиції компанії призначені для відпочинку
              клієнтів. Адміністрація компанії може на свій розсуд
              обмежити право клієнтів брати участь у всіх або
              частини будь-якої пропозиції, а також відкликати
              наявність якої-небудь пропозиції або всі пропозиції
              до будь-якого клієнта або групи клієнтів в будь-який
              час на свій розсуд і без пояснення причин.
            li.
              11. За період акції клієнт компанії може отримати один
              бонус "Ставка без ризику" за реєстрацію.
            li.
              12. Бонус «Ставка без ризику» не може бути використаний
              у зв'язці з VIP-ставкою, коли суму ставки на подію
              розглядає букмекер.
            li.
              13. Компанія зберігає за собою право на перевірку
              реєстраційних даних і транзакцій за будь-яких причин.
              У разі виявлення недобросовісних дій клієнта
              (наприклад, заборонені стратегії або шахрайство, в
              тому числі мультиакаунтинг та інше), якому була
              повернена ставка без ризику, компанія залишає за
              собою право вимагати компенсацію або самостійно
              списати компенсацію з рахунку клієнта, який порушив
              правила.
            li.
              14. Беручи участь в акції, клієнт погоджується з
              умовами, а також із загальними правилами і
              положеннями компанії "Favbet".
