.allWin-page#crazy-promo
    .banner
        .container
            .banner__wrapp
                .banner__title
                    .banner__title-top(data-translate="bannerTitleTop")
                    .banner__title-bottom(data-translate="bannerTitleBottom")
                a.banner__btn.btn(href="/sports/sport/soccer/" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet")
            .banner__img
                picture
                    source(media="(max-width: 600px)" srcset="https://allwin-prom.pp.ua/html/top-express-allwin/img/banner-bg-mob.jpg")
                    source(media="(max-width: 1050px)" srcset="https://allwin-prom.pp.ua/html/top-express-allwin/img/banner-bg-tab.jpg")
                    img(src="https://allwin-prom.pp.ua/html/top-express-allwin/img/banner-bg-desc.jpg" alt="all win")
            .banner__info(data-translate="bannerInfo")

    .about
        .container
          .about__title(data-translate="aboutTitle")
            li.about__list-item(data-translate="aboutFirst")
            li.about__list-item(data-translate="aboutSecond")
            li.about__list-item(data-translate="aboutThird")
          .about__txt(data-translate="aboutBottom")
          a.about__btna.btn(href="/sports/sport/soccer/" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet")

    .table
        .container
          .table__title(data-translate="tableTitle")
          .table__wrap
            .table__head
              .table__head-col(data-translate="date")
              .table__head-col(data-translate="accountNumber")
              .table__head-col(data-translate="couponOdds")
              .table__head-col(data-translate="bonus")
            .table__body
    .conditionsDrop
        .container
          .conditionsDrop__drop
            details.dropdown
              summary(data-translate="summary")
              .drop-txt(data-translate="rules")
