button.menu-btn menu
.menu-test
    //button.lng-btn en
.allWin-page#crazy-promo
    .banner
        .container
            .banner__wrapp
                .banner__title
                    .banner__title-top(data-translate="bannerTitleTop") топ експрес
                    .banner__title-bottom(data-translate="bannerTitleBottom") отримуй 1000₴ #[span *]
                a.banner__btn.btn(href="/sports/sport/soccer/" target="_blank" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet") Зробити ставку
            .banner__img
                picture
                    source(media="(max-width: 600px)" srcset="img/banner-bg-mob.jpg")
                    source(media="(max-width: 1050px)" srcset="img/banner-bg-tab.jpg")
                    img(src="img/banner-bg-desc.jpg" alt="all win")
            .banner__info(data-translate="bannerInfo") *Під отриманням 1000 ₴ мається на увазі можливість отримати приз у межах Акції "ТОП ЕКСПРЕС". Деталі на сайті allwinua.com. Період дії Акції – з 01.12.2025 до 31.01.2026 року

    .about
        .container
          .about__title(data-translate="aboutTitle") Щодня приз 1000 ₴ за 3 найкращих виграшних експреси
          ul.about__list
            li.about__list-item(data-translate="aboutFirst") 1. Роби експрес
            li.about__list-item(data-translate="aboutSecond") 2. Дочекайся його розрахунку
            li.about__list-item(data-translate="aboutThird") 3. Отримай 1 з 3 призів – 1000 ₴ на ігровий рахунок
          .about__txt(data-translate="aboutBottom") Результати кожного дня будуть оновлюватися на сторінці акції о 00:00:00 (за київським часом).Найкращий експрес — це виграшний експрес, з найбільшим загальним коефіцієнтом. Враховуються тільки експреси з сумою ставки від 100 ₴ і результатом ставки — «виграш».
          a.about__btna.btn(href="/sports/sport/soccer/" target="_blank" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet") Зробити ставку

    .table
        .container
          .table__title(data-translate="tableTitle") Результати
          .table__wrap
            .table__head
              .table__head-col(data-translate="date") Дата
              .table__head-col(data-translate="accountNumber") ID гравця
              .table__head-col(data-translate="couponOdds") Коефіцієнт купона
              .table__head-col(data-translate="bonus") Приз
            .table__body
                .table__row
                    .table__body-col 13.11.2025
                    .table__body-col 100342278
                    .table__body-col 499.43
                    .table__body-col(data-translate="tablePrize") 1000 ₴
                .table__row
                    .table__body-col 13.11.2025
                    .table__body-col 100342278
                    .table__body-col 499.43
                    .table__body-col(data-translate="tablePrize") 1000 ₴
                .table__row
                    .table__body-col 13.11.2025
                    .table__body-col 100342278
                    .table__body-col 499.43
                    .table__body-col(data-translate="tablePrize") 1000 ₴


    .conditionsDrop
        .container
          .conditionsDrop__drop
            details.dropdown
              summary(data-translate="summary") Умови та положення:
              .drop-txt(data-translate="rules")
                  p Loren ipsum oren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsum
                  p Loren ipsum
                  p Loren ipsum
                  p Loren ipsum