button.menu-btn menu
.menu-test
    button.lng-btn en
.allWin-page#crazy-promo
    .banner
        .container
            .banner__wrapp
                .banner__title
                    .banner__title-top(data-translate="bannerTitleTop")
                    .banner__title-bottom(data-translate="bannerTitleBottom")
                a.banner__btn.btn(href="/sports/sport/soccer/" target="_blank" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet")
            .banner__img
                picture
                    source(media="(max-width: 600px)" srcset="img/banner-bg-mob.jpg")
                    source(media="(max-width: 1050px)" srcset="img/banner-bg-tab.jpg")
                    img(src="img/banner-bg-desc.jpg" alt="all win")
            .banner__info(data-translate="bannerInfo")

    .about
        .container
          .about__title(data-translate="aboutTitle")
            li.about__list-item(data-translate="aboutFirst")
            li.about__list-item(data-translate="aboutSecond")
            li.about__list-item(data-translate="aboutThird")
          .about__txt(data-translate="aboutBottom")
          a.about__btna.btn(href="/sports/sport/soccer/" target="_blank" data-translate="btnLink" data-promo="win-top_express_ua" data-button="placeBet")

    .table
        .container
          .table__title(data-translate="tableTitle")
          .table__wrap
            .table__head
              .table__head-col(data-translate="date")
              .table__head-col(data-translate="accountNumber")
              .table__head-col(data-translate="couponOdds")
              .table__head-col(data-translate="bonus")
            .table__body
                //.table__row
                //    .table__body-col 13.11.2025
                //    .table__body-col 100342278
                //    .table__body-col 499.43
                //    .table__body-col(data-translate="tablePrize") 1000 ₴
                //.table__row
                //    .table__body-col 13.11.2025
                //    .table__body-col 100342278
                //    .table__body-col 499.43
                //    .table__body-col(data-translate="tablePrize") 1000 ₴
                //.table__row
                //    .table__body-col 13.11.2025
                //    .table__body-col 100342278
                //    .table__body-col 499.43
                //    .table__body-col(data-translate="tablePrize") 1000 ₴


    .conditionsDrop
        .container
          .conditionsDrop__drop
            details.dropdown
              summary(data-translate="summary") Умови та положення:
              .drop-txt(data-translate="rules")
                  p Loren ipsum oren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsumoren ipsum
                  p Loren ipsum
                  p Loren ipsum
                  p Loren ipsum